.web-contents-container > .cl-scrollbar {
	padding: 80px 20px;
    box-sizing: border-box !important;
}

.web-page-nav {
	text-align: center;
	color: #856C66;
	font-weight: bold;
	font-size: 20px;
}

.web-grid-button {
	color: #856C66;
	padding: 10px 20px;
//	height: 25px;
//	width: 25px;
}

.web-grid {
	background: #FFFFFF
}