/************************************************
 * 김정철명조 - KimjungchulMyungjo
 ************************************************/

@font-face {
	font-family: "KimjungchulMyungjo-Regular";
	font-style: normal;
	font-display: swap;
	src: url("../fonts/KimjungchulMyungjo-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "KimjungchulMyungjo-Light";
	font-style: normal;
	font-display: swap;
	src: url("../fonts/KimjungchulMyungjo-Light.ttf") format("truetype");
}

@font-face {
	font-family: "KimjungchulMyungjo-Bold";
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/KimjungchulMyungjo-Bold.ttf") format("truetype");
}