.contents-container > .cl-layout::-webkit-scrollbar {
	display:none;
}

.contents-container > .cl-layout {
	padding: 20px 40px;
    box-sizing: border-box !important;
}

.page-nav {
	text-align: center;
	color: #856C66;
	font-weight: bold;
	font-size: 10px;
}